.flex-container{
    display: flex;
    justify-content: flex-end;
    .add-user-btn{
        padding: 11px 0 13px;
        border-radius: 5px;
        width: 150px;
        height: 40px;
        border: 0;
        color: #fff;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        background-color: #04AA6D;
        margin: 10px;
    }
}

