/* You can add global styles to this file, and also import other style files */

// scrollbar
::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}
  
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.cursor-pointer{
   cursor: pointer;
}

.center{
    text-align: center;
}